.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}

.card {
  transition: transform 0.3s ease-in-out; /* Apply transition in default state */

  position: relative;
  flex: 1 1 calc(25% - 20px); 
  max-width: calc(25% - 20px);
}

.card:hover {
  transform: scale(1.1);
}


.card img {
  border: 2px solid #fff;
  border-radius: 6px;
  max-width: 150px;
  height: 100%;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  width: 100%;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  width: 100%;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
