* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  padding-top: 80px; /* Adjust for the height of the header */
  padding-bottom: 50px; /* Adjust for the height of the footer */
}

.container{
  
}

